.todo-container {
  height: 100%;
  padding-block-start: 3rem;
  display: flex;
  background: linear-gradient(
    129deg,
    rgb(var(--primary-low)) 0%,
    rgb(var(--primary-low)) 40%,
    rgb(var(--primary-high)) 40%,
    rgb(var(--primary-high)) 48%,
    rgb(var(--accent)) 48%,
    rgb(var(--accent)) 100%
  );
}

.flexbox {
  display: flex;
}
