* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.App {
  height: 100vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.light {
  --primary: 50, 30, 186;
  --primary-high: 28, 32, 129;
  --primary-low: 37, 55, 147;
  --secondary: 254, 255, 255;
  --secondary-high: 251, 254, 255;
  --secondary-low: 140, 143, 193;
  --accent: 255, 169, 66;
  --accent-high: 254, 171, 65;
  --accent-low: 255, 210, 48;
  --some: 222, 222, 222;
}
